ChangeLog
Makefile
Makefile.in
*~
*.a
*.o
*.la
*.lo
*.exe
.deps
.libs
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.h.win32
config.log
config.status
config.guess
config.sub
configure
libtool
intltool-*.in
depcomp
ltmain.sh
install-sh
m4
missing
mkinstalldirs
stamp-h1
core.*
core
compile
gtk-doc.make
*.pc
*.service
*-marshal.[ch]
*.gschema.valid
*.enums.xml
monitor/proxy/gvfsvolumemonitordbus.*
metadata/metadata-dbus.*
common/gvfsdbus.*
man/*.1
man/*.7
test-driver
