gvfsd
gvfsd-afc
gvfsd-afp
gvfsd-afp-browse
gvfsd-archive
gvfsd-burn
gvfsd-cdda
gvfsd-computer
gvfsd-dav
gvfsd-dnssd
gvfsd-ftp
gvfsd-google
gvfsd-gphoto2
gvfsd-http
gvfsd-localtest
gvfsd-network
gvfsd-mtp
gvfsd-nfs
gvfsd-recent
gvfsd-sftp
gvfsd-smb
gvfsd-smb-browse
gvfsd-test
gvfsd-trash
*.mount
*.localmount
