gvfsd
gvfsd-afc
gvfsd-archive
gvfsd-burn
gvfsd-cdda
gvfsd-computer
gvfsd-dav
gvfsd-dnssd
gvfsd-ftp
gvfsd-gphoto2
gvfsd-http
gvfsd-localtest
gvfsd-network
gvfsd-obexftp
gvfsd-sftp
gvfsd-smb
gvfsd-smb-browse
gvfsd-test
gvfsd-trash
*.mount
